<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PythonFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\07-03-2025\ai_chatbot\backend\venv\Scripts\python.exe|D:\07-03-2025\ai_chatbot\backend\venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="web.config" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
